/* fonts  */


/* css */

/* ==============================================================
                      GENERAL
============================================================== */


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html, body {
  width: 100%;
  height: 100%;
}


/* ==============================================================
                      HEADER
============================================================== */


.header {
  width: 100%;
  height: 8%;
  background: #21252b;
  font-size: 20px;
}

.header > a {
  float: left;
  position: relative;
  top: 20px;
  left: 20px;
  color: black;
  font-size: inherit;
}

.header > button {
  float: right;
  position: relative;
  top: 20px;
  right: 20px;
  color: black;
}


/* ==============================================================
                      PLAYER GENERAL
============================================================== */

.player {
  width: calc(50% - 1px);
  height: calc(92% - 2px);
  background: #21252b;
  border-top: 2px solid black;
}

.player > p {
  text-align: center;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}


/* ==============================================================
                      PLAY
============================================================== */


#play {
  float: left;
  border-right: 1px solid black;
}

/* subsections  */

.play-song-display {
  width: 100%;
  height: calc(80% - 2px);
  border-bottom: 2px solid black;
}

.play-control {
  width: 100%;
  height: 20%;
  text-align: center;
}

.play-control > button {
  width: 10%;
  height: 35%;
  margin-top: 30px;
  margin: 20px;
  margin-bottom: 0;
}

/* images for each button  */




/* ==============================================================
                      PLAYLIST
============================================================== */


#playlists {
  float: right;
  border-left: 1px solid black;
}
